.aside-container {
  height: 100vh;
    //min-width: 237px;
    position: sticky;
    top: 0px;
    .aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    color: white;
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: center;
      @media(max-width:1000px){
        align-items: center;

      }
      :first-child {
        &:hover {
          background-color: transparent;
        }
      }
      li {
        width: fit-content;
        display: flex;
        align-items: center;
        font-weight: 400;
        padding: 17px;
        font-size: 20px;
        border-radius: 50px;
        cursor: pointer;
        transition: 150ms ease-in-out;
        @media(max-width:1000px){
          padding: 17px 0px;
        }
        a{
          width: 100%;
          text-decoration: none;
          color: white;
        }
        svg {
          font-size: 25px;
          margin-right: 20px;

          @media(max-width:1000px){
            margin: 0;
          }
        }
        @media(max-width:1000px){
          span{
            display: none;
          }
        }
        &:hover {
          color: $twitter;
          background-color: #00abee3b;
        }
      }
    }

    &-profile {
      max-width: 237px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px;
      font-size: 14px;
      border-radius: 40px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: 150ms ease-in-out;
      @media(max-width:1000px){
        padding: 0px;
      }
      &:hover {
        background-color: #00abee3b;
      }
      &-info {
        display: flex;
        align-items: center;
        width: 100%;
        //overflow: hidden;
        //word-wrap: break-word;
        span {
          opacity: 0.5;

        }

        img {
          border-radius: 50%;
          margin-right: 20px;
          @media(max-width:1000px){
            margin: 0;
          }
        }
        &-name{
          width: 100%;
          display: flex;
          flex-direction: column;
          //word-wrap:break-word;
          overflow: hidden;
          //text-overflow: ellipsis;
          @media(max-width:1000px){
              display: none;
          }
        }
      }

      svg {
        font-size: 18px;
        @media(max-width:1000px){
          display: none;
        }
      }
    }
  }
}
