.home{
    //width: 100%;
    display: flex;
    padding-left: 300px;
    padding-right:500px;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    color: white;
    //width: 800px;

    @media(max-width:1200px){
        padding: 0;
    }
    &-container{
        display: flex;
    }
}