.loader{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    svg{
        animation:loader 1000ms infinite ease-in-out;
        color:$twitter;
        font-size: 30px;
    }
}


@keyframes loader {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}