.tweet{
    width: 100%;
    display: flex;
    border-bottom: 1px solid $border;
    padding: 10px;
    background-color: black;
    word-break: break-all;
    &:hover{
        opacity: 0.8;
        cursor: pointer;
    }
    &-image{
        img{
            border-radius: 50%;
        }
    }
    .tweet-header{
        display: flex;
        font-size: 14px;
        @media(max-width:1000px){
            flex-direction: column;
            font-size: 12px;
            p{
                margin: 0;
            }
        }
        &:hover > h4{
            text-decoration: underline;
        }
        p{
            @media(max-width:1000px){
                margin: 0;
            }
            margin-left: 10px;
            opacity: 0.6;
        }
    }
    &-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        
        .tweet-text{
            @media(max-width:1000px){
                font-size: 12px;
            }
            font-size: 14px;
            padding: 10px 0px;
        }
        
    }
}
.tweet-reactions{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    .tweet-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        font-size: 17px;
        border-radius: 50%;
        cursor: pointer;

        @media(max-width:1000px){
            font-size: 13px;
        }
        span{
            margin-left: 5px;

        }
        svg{
            &:hover{
                background-color: transparent;

            }
        }
    }
    :first-child{
        &:hover{
            background-color: rgba(24,161,242,0.2);

            svg{
                color: rgba(29,161,242,1);
            }
        }
    }
    :nth-child(2){
        &:hover{
            background-color: rgba(23,191,99, 0.2);

            svg{
                color: rgb(23,191,99);
                background-color: transparent;
            }
        }
    }
    :nth-child(3){
        &:hover{
            background-color: rgba(224,36,94,0.2);

            svg{
                color: rgb(224,36,94);
                background-color: transparent;
            }
        }
    }
}

.tweet-animation{
    animation: tweetAnimation 400ms ease-in-out;

}

@keyframes tweetAnimation {
    from{
        transform: translateY(-40px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}